{% extends "layoutAdmin.html.twig" %}


{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/adminAddRoute.css">
{% endblock %}

{% block title %}Ajouter une sortie
{% endblock %}
{% block content %}


	<h1 class="fs-1 font-title fw-bold text-danger text-center py-5">
		{{ "ajouter une sortie"|upper }}</h1>

	<div class="container col-lg-5">
		<form method="post">
			{% if message == 'success' %}
				<div class="alert alert-success text-center" role="alert">Opération réalisée avec succès.</div>
			{% endif %}

			<ul class="text-center text-danger">
				{% for error in errors %}
					<li>{{error}}</li>
				{% endfor %}
			</ul>


	
				<label for="date" class="mt-2 font-title fw-bold col-form-label">Date de la sortie:</label>

				<input type="date" placeholder="Choisir une date" required class=" form-control text-center" name="date" id="date" value="{{ route.date ?? "now"|date("Y-m-d") }}"/>
				<label class="mt-2 font-title fw-bold col-form-label" for="time">Heure de la sortie:</label>

				<input type="time" class="form-control text-center" required id="time" name="time" value="{{route.time ?? "now"|date('H:i')}}">
				<label for="start" class="mt-2 font-title fw-bold col-form-label">Lieu de départ:</label>

				<input type="text" class="form-control" required id="start" name="start" placeholder="Ecrivez l'adresse de départ ici" value="{{route.start ?? ''}}">
				<label for="finish" class="mt-2 font-title fw-bold col-form-label">Lieu d'arrivée:</label>

				<input type="text" class="form-control" required id="finish" name="finish" placeholder="Ecrivez l'addresse d'arrivée ici" value="{{route.finish ?? ''}}">
				<label for="ravito" class="mt-2 font-title fw-bold col-form-label">Lieu du ravito:</label>

				<input type="text" class="form-control" id="ravito" name="ravito" placeholder="Ecrivez l'addresse du ravito ici" value="{{route.ravito ?? ''}}">
				<label for="difficulty" class="fmt-2 ont-title fw-bold col-form-label">Choisir la difficulté:</label>

				<select class="form-select" name="difficulty" id="difficulty">
					<option value="0" selected>Ouvrez le menu de sélection</option>
					<option value="1">Facile</option>
					<option value="2">Moyen</option>
					<option value="3">Difficile</option>
				</select>
				<label for="distance" class="mt-2 font-title fw-bold col-form-label">Distance de la sortie:</label>

				<input type="number" class="form-control" required id="distance" name="distance" placeholder="ex: 80" value="{{route.distance ?? ''}}">
				<label for="gpx" class="mt-2 font-title fw-bold col-form-label pr-1">Ajouter la carte:</label>

				<div class="input-group mb-3">
					<span class="input-group-text" id="gpx">https://www.visugpx.com/</span>
					<input type="text" required class="form-control" id="gpx" name="gpx" value="{{route.gpx ?? ''}}">
				</div>
				<label for="descritpion" class="mt-2 font-title fw-bold col-form-label">Description de la sortie:</label>

				<textarea class="form-control" placeholder="Ecrivez ici..." id="descritpion" name="description">{{route.description ?? ''}}</textarea>

			<div class="d-flex justify-content-between text-end py-5">
				<button type="submit" class="btn btn-danger">Créer la sortie</button>
			<a href="/admin/route" class="btn btn-outline-secondary ">Retour</a>
			</div>
		</form>
	</div>
</div>{% endblock %}
