{% extends "layout.html.twig" %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/list-route.css">
{% endblock %}
{% block title %}Liste des Sorties
{% endblock %}

{% block content %}

	<h1 class="display-4 fw-bold text-danger text-center">
		LISTE SORTIES</h1>


	{% for route in routes %}
		
	


	<div class="cardh">
		<div class="container">
			<div class="row">
				<div class="card p-2 rounded-3 mt-3 ">
					<div class="container text-center">
						<div class="container text-center">
							<div class="row row-cols-1 row-cols-sm-3 row-cols-md-3">
								<div class="col">
									<div class="row justify-content-center">{{route.distance}} KM</div>
									<div class="row justify-content-center"><img class="card-img" 
									src={% if route.difficulty is same as 1 %}"/assets/images/montagnes.png" alt="green mountain icon"
									{% elseif route.difficulty is same as 2 %} "/assets/images/montagnes-o.png" alt="orange mountain icon" 
									{% else %} "/assets/images/montagnes-r.png" alt="red mountain icon" 
									{% endif %}></div>
									
									<div class="row justify-content-center">Difficulté {{route.difficulty}}</div>
								</div>
								<div class="col">
									<div class="row justify-content-center pt-4"><img class="icon" src="/assets/images/epingle.png" alt="pin icon">{{route.start}}</div>
									<div class="row justify-content-center pt-2"><img class="icon" src="/assets/images/drapeau-darrivee.png" alt="arrived flag icon">{{route.finish}}Eglise d'Orléans</div>
									<div class="row justify-content-center pt-2 pb-4"><img class="icon" src="/assets/images/du-jus-dorange.png" alt="cocktail icon">{{route.ravito}}Jardin des plantes</div>
								</div>
								<div class="col">
									<div class="row justify-content-center pt-4"><img class="card-img-top" src="/assets/images/31.png" alt="calendar icon"></div>
									<div class="row justify-content-center pt-2">{{route.date}}</div>
									<div class="row justify-content-center pt-2">{{route.time}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endfor %}

{% endblock %}
