{% extends "layout.html.twig" %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/list-route.css">
{% endblock %}
{% block title %}{{ "liste des sorties"|upper }}
{% endblock %}

{% block content %}

	<h1 class="fs-1 fw-bold text-danger text-center py-5">
		LISTE DES SORTIES</h1>

	<div class="mb-5">
		{% for route in routes %}

			<div class="cardh pb-2">
				<div class="container">
					<div class="row">
						<div class="card p-2 rounded-3 mt-3 shadow {{ "now"|date("y-m-d") < route.date|date('y-m-d') ? ' border-danger' : 'opacity-50' }}">
							<div class="container text-center">


								<div class="row row-cols-1 row-cols-sm-1 row-cols-md-3">

									<div class="col custom-border-right custorm-border-bottom">
										<div class="row justify-content-center tool-font fs-3 pt-4 pb-1">{{route.distance}}KM</div>

										<div class="row justify-content-center">
											{% if  constant('App\\Controller\\RouteController::EASY_ROUTE') is same as route.difficulty %}<img class="card-img icon-green" src="/assets/images/mountain.svg" alt="green mountain icon">
												{% elseif constant('App\\Controller\\RouteController::MEDIUM_ROUTE') is same as route.difficulty %}<img class="card-img icon-orange" src="/assets/images/mountain.svg" alt="orange mountain icon">
												{% else %}<img class="card-img icon-red" src="/assets/images/mountain.svg" alt="red mountain icon">
											{% endif %}
										</div>
										<div class="row justify-content-center tool-font fs-5 pb-3 pt-3">Difficulté
											{{route.difficulty}}</div>
									</div>

									<div class="col custom-border-right custorm-border-bottom">
										<div class="col tool-font fs-6 mt-2 text-secondary text-wrap d-flex justify-items-center align-items-center"><img class="icon col me-1 icon-red opacity-75" src="/assets/images/pin.svg" alt="pin icon">{{'Départ'|upper}}</div>
										<div class="col title-font fs-6 txt mt-2 ms-2"><p class="m-0 col text-start">{{route.start}}</p>
										</div>
										<div class="col tool-font fs-6 mt-4  text-wrap d-flex justify-items-center align-items-center text-secondary"><img class="icon col me-1 icon-red opacity-75" src="/assets/images/flag.svg" alt="arrived flag icon">{{'Arrivée'|upper}}</div>
										<div class="col title-font fs-6 txt mt-2 ms-2"><p class="m-0 col  text-start">{{route.finish}}</p>
										</div>
										<div class="col tool-font fs-6 mt-4 text-secondary text-wrap d-flex justify-self-center align-items-center"><img class="icon col me-1 icon-red opacity-75" src="/assets/images/ravito.svg" alt="cocktail icon">{{'Ravito'|upper}}</div>
										<div class="col title-font fs-6 txt mt-2 ms-2 mb-md-2"><p class="m-0 col text-start">{{route.ravito}}</p>
										</div>
									</div>

									<div class="col">
										{% if "now"|date("Y-m-d") < route.date|date('Y-m-d') %}
											<div class="badge text-bg-danger fs-5 tool-font mt-3">{{'a venir'|upper}}</div>
										{% endif %}
										<div class="row justify-content-center pt-4 tool-font"><img class="card-img-top" src="/assets/images/calendar.svg" alt="calendar icon"></div>
										<div class="row justify-content-center pt-2 tool-font fs-4">{{route.date|date('d/m/Y')}}</div>
										<div class="row justify-content-center pt-2 tool-font fs-4 pb-4">{{route.time|date('H:i')}}</div>
										<a href="/detail-route?routeid={{route.id}}" class="stretched-link"></a>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		{% endfor %}
	</div>
{% endblock %}
