{% extends "layout.html.twig" %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/list-route.css">
{% endblock %}
{% block title %}Liste des Sorties
{% endblock %}

{% block content %}

		<h1 class="display-4 fw-bold text-danger text-center py-5">
			LISTE DES SORTIES</h1>

<div class="pb-2">
		{% for route in routes %}
	
	
	<div class="cardh pb-2">
		<div class="container">
			<div class="row">
				{% if "now"|date("Y-m-d") < route.date|date('Y-m-d') %}<div class="card p-2 rounded-3 mt-3 border-danger shadow">
				{% else %}<div class="card p-2 rounded-3 mt-3 shadow">
				{% endif %}
					<div class="container text-center">
						
							<div class="row row-cols-1 row-cols-sm-1 row-cols-md-3">

								<div class="col custom-border-right custorm-border-bottom">
									<div class="row justify-content-center tool-font fs-3 pt-4 pb-1">{{route.distance}} KM</div>

									<div class="row justify-content-center">
									{% if route.difficulty is same as 1 %}<img class="card-img icon-green" 
									src="/assets/images/mountain.svg" alt="green mountain icon">
									{% elseif route.difficulty is same as 2 %}<img class="card-img icon-orange" src="/assets/images/mountain.svg" alt="orange mountain icon">
									{% else %}<img class="card-img icon-red" src="/assets/images/mountain.svg" alt="red mountain icon"> 
									{% endif %}</div>
									<div class="row justify-content-center tool-font fs-5 pb-3 pt-3">Difficulté {{route.difficulty}}</div>
								</div>
								<div class="col custom-border-right custorm-border-bottom">
									<div class="row justify-content-center title-font pt-3 fs-6"><img class="icon" src="/assets/images/pin.svg" alt="pin icon"><p>{{route.start}}</p></div>
									<div class="row justify-content-center title-font pt-2 fs-6"><img class="icon" src="/assets/images/flag.svg" alt="arrived flag icon"><p>{{route.finish}}</p></div>
									<div class="row justify-content-center title-font pt-2  fs-6"><img class="icon" src="/assets/images/ravito.svg" alt="cocktail icon"><p>{{route.ravito}}</p></div>
								</div>
								<div class="col">
									<div class="row justify-content-center pt-5 tool-font "><img class="card-img-top" src="/assets/images/calendar.svg" alt="calendar icon"></div>
									<div class="row justify-content-center pt-2 tool-font fs-4">{{route.date}}</div>
									<div class="row justify-content-center pt-2 tool-font fs-4 pb-4">{{route.time}}</div> 
									<a href="#"{# Don't forget to change with items/show?id={{ route.id }} after making the detail page #} class="stretched-link"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	{% endfor %}
</div>
{% endblock %}
  